h1 {
  text-align: center;
}

table {
  margin: auto;
  max-width: 100%;
  text-align: center;
  border-collapse: collapse;

  td,
  th {
    padding: 1rem 2rem;
  }

  tr:nth-child(even) {
    background: grey;
    color: white;
  }

  th {
    background: black;
    color: rgba(0, 0, 0, 0);
    color: white;
  }
  @media (max-width: 500px) {
    td,
    th {
      padding: 1rem;
    }
  }
}

.trash {
  cursor: pointer;

  &:hover {
    color: red;
  }
}
